.task {
    font-size: 1.5rem;
    border: 5px solid var(--bs-subtle-danger);
    background: #E0EAFC; /*Fallback for old browser*/
    background: -webkit-linear-gradient(to right, #CFDEF3, #E03AFC); /*Chrome 10-25, safari...*/
    background: linear-gradient(to right, #CFDEF3, #E03AFC); /*W3C, IE*/
    border-radius: 10px;
    min-width: 50%;
}
